/* AUTHOR: JULIAN BUENO */

body{
    margin: 0px;
}

.red-text{
    color: red;
}

.NavBar{
    height: 5vh;
    background-image: url('https://github.com/jdbuenol/AdventureFishalist/blob/main/src/public/images/navBarBackground.png?raw=true');
    background-size: contain;
}

.PostsHeader{
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    background-color: white;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 8px;
    overflow: hidden;
}

.CartButton{
    background-color: white;
    border: 0px;
}

.Bordered{
    border: 1px solid black;
}

.CartLink{
    color: black;
    text-decoration: none;
}

.CartLink:hover{
    color: blue;
}

.TrashButton{
    background-color: white;
    border: 0px;
}

.TrashForm{
    display: inline-block;
}

.PopularGrid{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 50%);
}

.FishImage{
    width: 457px;
    height: 457px;
}

.FishInfo{
    border: 1px black solid;
}

.navlist{
    justify-content: space-between;
}

.logout-btn{
    border: 0px;
    background: none;
}

.nav-link{
    font-weight: bolder;
}

.bottom-navbar{
    background-color: blue;
}

.btns-gap{
    gap: 25px;
}



.CartForm{
    height: 5vh;
}